# Gradle
.gradle/
build/
*/build/
!*/src/**/build/

# Local config
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Keystores
*.jks
*.keystore
